body{
    text-align: center;
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
}

h1{
    font-family: "Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
    font-size: 25px;
    color: #353535;
    font-weight: 300;
}
    
