{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
		<link rel="stylesheet" type="text/css" href="static/css/grid.css"/>
		{% endblock %}
{% block home %}"#page-top"{% endblock %}
{% block menu %}<li><a href="process.html">vorgang</a></li>{% endblock %}
{% block content %}
		<header>
			<div class="header-content">
				<div class="header-content-inner">
					<h1>Colourful Fairness</h1>
				</div>
			</div>
		</header>
		<section class="bg-primary" id="miztura">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">Ökologische und handgemachte Kleidungsstücke aus Alpaka</h2>
						<p class="text-faded">Wir sind eine Kooperative bestehend aus Produzent*innen und Designer*innen, die über Bolivien verteilt an den besten Alpaka Produkten arbeitet.<br>Unsere Alpaka Produkte werden aus den Händen talentierter Frauen aus den verschiedensten Dörfern der Anden Region Boliviens geschaffen. Jedes unserer hochwertigen Alpaka-Produkte ist das Ergebnis unserer gezielten Aufmerksamkeit auf ökologische und nachhaltige Prozesse, die letztlich eine hohe Qualität versprechen. Textilien aus Alpaka halten oft jahrzentelang.</p>
						<a href="/vorgang" class="btn btn-primary btn-xl">wie wir unsere Kleidungsstücke produzieren</a>
					</div>
				</div>
			</div>
		</section>
		<div class="container">	
			<div class="main">
				<ul id="og-grid" class="og-grid">
					<li class="gr">
						<a href="" data-largesrc="static/images/1.jpg" data-title="Poncho" data-description="Der Kragen des Ponchos ist in V-Form. Er ist an den Rändern durch Kokosknöpfe versehen. Am unteren Bereich des Ponchos sind Rauten und Linien eingearbeitet. An der Vorderseite hat er zwei Taschen." data-code="Artiklnr.: 7003" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li class="gr">
						<a href="" data-largesrc="static/images/2.jpg" data-title="Webschal" data-description="Der Schal besteht zu 100% aus Alapaka. Von den Weberinnen wurde er an einem Holzwebstuhl hergestellt. An den Enden ist er durch Makramee Muster verziert." data-code="Artiklnr.: 3012" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li class="gr">
						<a href="" data-largesrc="static/images/3.jpg" data-title="4-Jahreszeiten Pullover" data-description="Dieser Pullover ist aus feiner und dünner Alpakawolle hergestellt. Er hat den Kragen in V-Form. Zwei Kokosknöpfe sind in der Mitte angebracht. Die Ärmel sind durch ein originelles Design versehen. Durch seine ligere und unauffällige Erscheinung ist der Pullover geeignet, ihn zu allen Jahreszeiten zu Tragen." data-code="Artiklnr.: 6004" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>					
					<li class="gr">
						<a href="" data-largesrc="static/images/4.jpg" data-title="Mütze und Schal" data-description="Diese Mütze ist durch Pfeilmuster und Linien verziehrt. Sie hat eine Bommel. Der Schal ist aus einem dünnen Garn gewebt und liegt dadurch sehr leicht und angenehm auf der Haut." data-code="Artiklnr.: 3001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/4.jpg" alt="img04"/>
						</a>
					</li>
					<li class="gr">
						<a href="" data-largesrc="static/images/5.jpg" data-title="Schal Multifarben" data-description="Der Schal ist aus einem dicken Garn hergestellt worden. Durch dieses dicke Material hält er sehr warm. Er ist durch verschiedenen Farben versehen." data-code="Artiklnr.: 3009" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/5.jpg" alt="img05"/>
						</a>
					</li>
					<li class="gr">
						<a href="" data-largesrc="static/images/6.jpg" data-title="Rundschal und Handschuhe" data-description="Das verwendete Garn Bei diesem Schal ist ein dünnes.Dadurch liegt der Schal fast unbemerkt um den Hals." data-code="Artiklnr.: 3004" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/6.jpg" alt="img06"/>
						</a>
					</li>
					<li class="three portrait2">
						<a href="" data-largesrc="static/images/7.jpg" data-title="Umhang" data-description="Durch die breiten Ärmel entstehen wellenartige Bewegungen, die beim Tragen zur Geltung kommen. Am Hals ist der Umhang sehr breit; dadurch kann er den Kopf bedecken oder man lässt den Stoff über die Schulter fallen." data-code="Artiklnr.: 7001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/7.jpg" alt="img07"/>
						</a>
					</li>
					<li class="three landscape2">
						<a href="" data-largesrc="static/images/8.jpg" data-title="Herren Pullover" data-description="Er wird durch ein feines und dünnes Garn hergestellt. Er ist dadurch für jegliche Jahreszeit geeignet. Sein Kragen ist in V-Form geschnitten und er hat lange Ärmel." data-code="Artiklnr.: 6001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/8.jpg" alt="img08"/>
						</a>
					</li>
					<li class="three portrait2">
						<a href="" data-largesrc="static/images/9.jpg" data-title="Strick Poncho" data-description="Seine Verziehrung ist ein wellenartiges Geflecht. Der Poncho hat Ärmel an den äußeren Enden. Er hat einen runden Kragen, der durch seine dicke Beschaffenheit ringsherum fällt." data-code="Artiklnr.: 7002" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/9.jpg" alt="img09"/>
						</a>
					</li>
					<li class="three portrait2">
						<a href="" data-largesrc="static/images/10.jpg" data-title="Kinder Strickjacke" data-description="Die Strickjacke ist durch schwarz-rote Linien gemustert. Sie lässt sich durch Knöpfe verschließen. Die Knöpfe sind aus Kokos." data-code="Artiklnr.: 11001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/10.jpg" alt="img10"/>
						</a>
					</li>
					<li class="three landscape2">
						<a href="" data-largesrc="static/images/11.jpg" data-title="Fingerloser Handschuh" data-description="100% aus Alpaka. Der fingerlose Handschuh ist für die zwischen Jahreszeiten - Frühling und Herbst - ideal geeignet. Er ist in den verschiedensten Farb-Kombinationen erhältlich." data-code="Artiklnr.: 4001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/11.jpg" alt="img11"/>
						</a>
					</li>
					<li class="three portrait2">
						<a href="" data-largesrc="static/images/12.jpg" data-title="Blumen Kleid" data-description="Es hat einen V-Kragen und zwei Taschen am vorderen Bereich. Das Kleid ist durch aufgenähte Blumen verziehrt. Es hat zwei Bändel, um das Kleid genau anzupassen." data-code="Artiklnr.: 16001" data-material="Material: 100% Alpaka">
							<img src="static/images/thumbs/12.jpg" alt="img12"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
{% endblock %}
{% block scripts %}
		<script src="static/js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
{% endblock %}
